html {
    background-color:rgb(180, 142, 98);
    text-align: center;
}

#scp {
    width: 80px;
    text-align: center;
}

canvas {
    outline: 5px solid rgb(231, 158, 22);
    text-align: left;
    max-height: 70vh;
    max-width: 150vw;
}

div#divtime {
    background-color: cornflowerblue;
    outline: darkslateblue;
    width: 300px;
    text-align: center;
    margin-top: 10px;
}

p {
    margin-left: 900px;
    font-style: bold;
}